body {
  background-color: rgb(67, 67, 67);
  text-align: center;
}

h1 {
  position: relative;
  top: 5%;
  font-size: 20vh;
}

#text_input {
  position: relative;
}

#output_box {
  position: relative;
  top: -9%;
  left: 40%;
  height: 25vh;
  width: 30vw;
  text-align: left;
  text-indent: 1%;
  background-color: rgb(255, 255, 255);
}

#output_text {
  position: relative;
  top: -4%;
  left: -6.5%;
  font-size: 5vh;
}

#result_button {
  position: relative;
  top: 0%;
  left: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 5vh;
  font-size: 5vw;
  border: 3px solid black;
}

#result_button:hover {
  color: rgb(22, 22, 22);
  border: 3px solid rgb(22, 22, 22);
  cursor: pointer;
}